p {
  font-size: 75%;
}

img {
  transform: scale(0.75);
}

ul {
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(170,22,244,1) 0%, rgba(246,185,109,1) 100%);
}

.card {
  list-style: none;
  width: 20rem;
}

