.control-panel {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
  border-radius: 0.5rem;
}

.cards-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  background-color: bisque;
  border-radius: 0.5rem;
}
