<div class="container py-5 h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
            Inserir Produto
          </h3>
          <form [formGroup]="productForm">
            <div class="row">

              <!--              Product name field-->

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="name">
                    Nome do Produto:
                  </label>
                  <input formControlName="name"
                         type="text" id="name" class="form-control form-control-lg"/>
                  <output>
                    <p>
                      Nome Inválido
                    </p>
                  </output>
                </div>
              </div>

              <!--              /Product name field-->

              <!--              Product id field-->

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="lastName">
                    Id do Produto:
                  </label>
                  <input formControlName="productId"
                         type="text" id="lastName" class="form-control form-control-lg"/>
                  <output>
                    <p>
                      Id Inválido
                    </p>
                  </output>
                </div>
              </div>

              <!--            /Product id field-->

            </div>
            <div class="row">

              <!--              Product quantity field-->

              <div class="col-md-6 mb-4 d-flex align-items-center">
                <div class="form-outline datepicker w-100">
                  <label for="quantity" class="form-label">
                    Quantidade:
                  </label>
                  <input formControlName="quantity"
                         type="text" class="form-control form-control-lg" id="quantity"/>
                  <output>
                    <p>
                      Quantidade Inválida
                    </p>
                  </output>
                </div>
              </div>

              <!--              /Product quantity field-->

              <!--              Product price field-->

              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <label class="form-label" for="emailAddress">
                    Preço Unitário:
                  </label>
                  <input formControlName="price"
                         type="number" id="emailAddress" class="form-control form-control-lg"/>
                  <output>
                    <p>
                      Preço Inválido
                    </p>
                  </output>
                </div>
              </div>

              <!--              /Product price field-->

            </div>

            <!--            Send button-->

            <div class="mt-4 pt-2">
              <button type="button" class="btn btn-primary"
                      (click)="updateInventory()"
                      [disabled]="productForm.invalid">
                Enviar
              </button>
            </div>

            <!--            /Send button-->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
